<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div id="homework-container">
        {{> "./index-content.hbs"}}
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=efd4f485-c18f-48f1-b003-fcd056265ba0&lang=ru_RU" type="text/javascript"></script>
</body>
</html>
