html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: $main-font;
	font-size: 14px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	color: $main-font-color;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

h2 {
	font-family: $main-font;
}

::selection {
    background: $main-hover-color;
    color:#fff;
}

::-moz-selection {
    background: $main-hover-color;
    color:#fff;
}

a {
    text-decoration: none;
    outline: none;
    color: #333333;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none; 
    color: $main-hover-color;
}

* {
	box-sizing: border-box;
}

.wrapper {
	min-height: 100%;
	position: relative;
	// overflow: hidden;//CHECK
}

.content-wrapper{
    min-height: 500px;
    // background-color: #FFF;
}

section{
	position: relative;
	z-index: 100;
}

.section{
	padding: 160px 0;
	@include tablet{
		padding: 100px 0;
	}
}

.clear{
	clear: both;
}


