<div class="auth">
    <div class="auth__inner">

        <div class="auth__wrap">
            <div class="auth__img">
                <img src="../img/auth-icon.png" alt="">
            </div>
            <h2 class="auth__title">Авторизация</h2>
            <p class="auth__desc">Введите пожалуйста своё фио и ник для дальнейшей авторизации</p>

            <form action="" class="auth-form">
                <input type="text" class="auth-form__input" name="name" placeholder="Введите имя">
                <input type="text" class="auth-form__input" name="nickname" placeholder="Введите свой ник">
                <button type="submit" class="btn btn--auth">Войти</button>
            </form>
        </div>

    </div>
</div>