<div class="chat">

    <div class="chat-sidebar">
        <div class="chat-sidebar__header">

            <div class="chat-menu">
                <div class="chat-menu__bar"></div>
                <div class="chat-menu__bar"></div>
                <div class="chat-menu__bar"></div>
            </div>

            <form class="chat-search">
                <input type="text" class="chat-search__input" name="search" placeholder="Найти...">
            </form>
        </div>

        <div class="chat-sidebar__content">
            <div class="chat-users">

                <div class="chat-users__el">
                    <div class="chat-users__img">
                        <img src="../img/chat-user-1.jpg" alt="">
                    </div>

                    <div class="chat-users__info">
                        <div class="chat-users__name">Игорь Яицкий</div>
                        <div class="chat-users__msg">Рад был пообщаться</div>
                    </div>
                </div>

                <div class="chat-users__el">
                    <div class="chat-users__img">
                        <img src="../img/chat-user-2.jpg" alt="">
                    </div>

                    <div class="chat-users__info">
                        <div class="chat-users__name">Алексей Трубин</div>
                        <div class="chat-users__msg">Привет!</div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="chat-content">
        <div class="chat-header">
            <div class="chat-header__title">Чат</div>
            <div class="chat-header__users">2 участника</div>
        </div>

        <div class="chat-list">

            <div data-id="0" class="chat-list__el">
                <div class="chat-list__user">
                    <img src="../img/chat-list-user-1.jpg" alt="">
                </div>

                <ul class="chat-list-message">
                    <li class="chat-list-message__el">
                        <div class="chat-list-message__text">Привет! Привет! Привет!</div>
                        <div class="chat-list-message__date">17:55</div>
                    </li>
                    <li class="chat-list-message__el">
                        <div class="chat-list-message__text">Как дела?</div>
                        <div class="chat-list-message__date">17:55</div>
                    </li>
                </ul>

            </div>

            <div data-id="1" class="chat-list__el">
                <div class="chat-list__user">
                    <img src="../img/chat-list-user-1.jpg" alt="">
                </div>

                <ul class="chat-list-message">

                    <li class="chat-list-message__el">
                        <div class="chat-list-message__text">Привет! Привет! Привет!</div>
                        <div class="chat-list-message__date">17:55</div>
                    </li>

                    <li class="chat-list-message__el">
                        <div class="chat-list-message__text">Как дела?</div>
                        <div class="chat-list-message__date">17:55</div>
                    </li>

                </ul>

            </div>

        </div>

        <div class="chat-message">
            <form class="send-message-form" action="">
                <input type="text" name="message" class="chat-message__text" placeholder="Введите сообщение..." value="">
                <button type="submit" class="btn btn--send-message">Отправить</button>
            </form>
        </div>

    </div>

</div>