$bg-color: #09101a;
$bg-chat: #0e1621;
$bg-interface: #17212b;
$main-font-color: #fff;
$second-font-color: #7f91a4;
$main-hover-color: #7400f4;
$main-font: 'Ubuntu', sans-serif;


//mixins
@import "helpers/mixins";

//layout setups
//@import "layout/fonts";
//@import "layout/setups";


//blocks
//@import "blocks/**/*";
@import "blocks/main";


//////////////////////////////////////////////////////////
/*
	Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic');


/*
	Setup
*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: $main-font;
	font-size: 14px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-color;
	color: $main-font-color;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}

h2 {
	font-family: $main-font;
}

::selection {
	background: $main-hover-color;
	color: #fff;
}

::-moz-selection {
	background: $main-hover-color;
	color: #fff;
}

a {
	text-decoration: none;
	outline: none;
	color: #333333;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
	color: $main-hover-color;
}

* {
	box-sizing: border-box;
}

::placeholder {
	color: #858e97;
}

.wrapper {
	min-height: 100%;
	position: relative;
	// overflow: hidden;//CHECK
}

.content-wrapper {
	min-height: 500px;
	// background-color: #FFF;
}

section {
	position: relative;
	z-index: 100;
}

.section {
	padding: 160px 0;
	@include tablet {
		padding: 100px 0;
	}
}

.clear {
	clear: both;
}

input.error{
	border-bottom: 1px solid red;
}

/*
	BUTTONS
*/
.btn {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #5288c1;
	outline: none;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background-color: #7ca1c7;
	}
}

.btn--auth {
	width: 135px;
	height: 40px;
	margin: 0 auto;
	margin-top: 15px;
	text-transform: uppercase;
}

.btn--send-message {
	width: 115px;
	height: 30px;
}


/*
	Auth
*/
.auth {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.8);
}

.auth__inner {
	position: relative;
	width: 100%;
	max-width: 500px;
	padding: 50px;
	background-color: #17212b;
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	margin: 30px auto;
}

.auth__wrap {
	max-width: 300px;
	margin: 0 auto;
}

.auth__img {
	margin-bottom: 25px;
	text-align: center;
}

.auth__title {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.auth__desc {
	font-size: 16px;
	font-weight: 300;
	color: #7f91a4;
	text-align: center;
}

.auth-form {
	margin-top: 30px;
}

.auth-form__input {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 25px;
	padding: 10px;
	border-bottom: 1px solid #465362;
	font-size: 16px;
	font-weight: 300;
	color: #e5e5e5;
	transition: 0.3s;

	&:hover, &:focus, &:active {
		border-bottom: 1px solid #5288c1;
	}
}


/*
	CHAT
*/
.chat {
	display: flex;
	height: 100vh;
	min-height: 500px;
}

//Chat sidebar
.chat-sidebar {
	width: 260px;
	height: 100%;
	padding: 10px 15px;
	background-color: $bg-interface;
	border-right: 1px solid $bg-chat;
}

.chat-sidebar__header {
	display: flex;
	align-items: center;
}

//Menu
.chat-menu {
	position: relative;
	width: 18px;
	height: 12px;
	margin-right: 10px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.chat-menu__bar {
	width: 100%;
	height: 2px;
	background-color: #6c7883;
	transition: transform .3s ease, opacity .3s ease;

	&:nth-child(1) {
		transform-origin: right top;
	}

	&:nth-child(2) {
		transform-origin: right center;
	}

	&:nth-child(3) {
		transform-origin: right bottom;
	}
}

//Chat search
.chat-search {
	flex: 1;
}

.chat-search__input {
	width: 100%;
	background: none;
	border: none;
	outline: none;
	padding: 10px 8px;
	background-color: #242f3d;
	font-weight: 300;
	border-radius: 4px;
	color: $main-font-color;
}

//chat sidebar content
.chat-sidebar__content {
	padding: 20px 0;
}

.chat-users__el {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.chat-users__img {
	width: 46px;
	height: 46px;
	margin-right: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
}

.chat-users__img img {
	width: 100%;
	border-radius: 50%;
}

.chat-users__name {
	font-weight: 300;
}

.chat-users__msg {
	font-weight: 300;
	color: $second-font-color;
}


/*
	CHAT CONTENT
*/
.chat-content {
	flex: 1;
}


/*
	CHAT HEADER
*/
.chat-header {
	padding: 20px 10px;
	background-color: $bg-interface;
}

.chat-header__title {
	font-weight: 300;
	color: $main-font-color;
}

.chat-header__users {
	color: $second-font-color;
}

/*
	CHAT LIST
*/
.chat-content {
	display: flex;
	flex-direction: column;
}

.chat-list {
	flex: 1;
	padding: 22px 10px;
	background-color: $bg-chat;
	overflow-x: hidden;
	overflow-y: auto;
}

.chat-message {
	padding: 12px 10px;
	background-color: $bg-interface;
}

.send-message-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-message__text {
	width: 100%;
	height: 22px;
	padding-right: 10px;
	margin-right: 10px;
	background: none;
	border: none;
	resize: none;
	outline: none;
	font-size: 14px;
	font-weight: 300;
	color: $main-font-color;
}

//Chat list
.chat-list__el {
	display: flex;
}

.chat-list__user {
	width: 33px;
	height: 33px;
	margin-right: 10px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.chat-list__user img {
	width: 33px;
	height: 33px;
	margin-right: 10px;
	border-radius: 50%;
}

.chat-list-message__el {
	position: relative;
	display: table;
	margin-bottom: 4px;
	padding: 9px 15px;
	padding-right: 55px;
	border-radius: 5px;
	background-color: #182533;

	&:first-child:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -8px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #182533;
	}
}

.chat-list .chat-list__el {
	&:nth-child(2n) {
		flex-direction: row-reverse;
	}
}

.chat-list .chat-list__el {
	&:nth-child(2n) .chat-list__user {
		margin-right: 0;
		margin-left: 10px;
	}

	&:nth-child(2n) .chat-list__user img {
		margin-right: 0;
		margin-left: 10px;
	}
}

.chat-list .chat-list__el {
	&:nth-child(2n) .chat-list-message__el:first-child:after {
		left: 0;
		right: -8px;
	}
}

.chat-list-message__text {
	font-weight: 300;
}

.chat-list-message__date {
	position: absolute;
	right: 9px;
	bottom: 5px;
	color: $second-font-color;
	font-weight: 300;
}


/*Scrollbar*/
.chat-list::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

.chat-list::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

.chat-list::-webkit-scrollbar-thumb {
	background: #263540;
	border: 0px none #0e1621;
	border-radius: 50px;
}

.chat-list::-webkit-scrollbar-thumb:hover {
	background: #17212b;
}

.chat-list::-webkit-scrollbar-thumb:active {
	background: #17212b;
}

.chat-list::-webkit-scrollbar-track {
	background: #0e1621;
	border: 0px none #0e1621;
	border-radius: 50px;
}

.chat-list::-webkit-scrollbar-track:hover {
	background: #0e1621;
}

.chat-list::-webkit-scrollbar-track:active {
	background: #333333;
}

.chat-list::-webkit-scrollbar-corner {
	background: transparent;
}

/*Scrollbar*/


/*
	Photo
*/
.photo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 15px;
	z-index: 100;
	background: rgba(0, 0, 0, 0.8);
}

.photo__inner {
	position: relative;
	width: 100%;
	max-width: 360px;
	padding: 30px 40px;
	background-color: #17212b;
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	margin: 30px auto;
}

.photo__wrap {
	max-width: 300px;
	margin: 0 auto;
}

.photo__img {
	margin-bottom: 25px;
	text-align: center;
}

.photo__title {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.photo__desc {
	font-size: 16px;
	font-weight: 300;
	color: #7f91a4;
	text-align: center;
}



//////////
.photo{
	display: none;
}

#drop-area {
	position: relative;
	border: 2px dashed #2c3c4c;
	border-radius: 50%;
	width: 100%;
	height: 280px;
	overflow: hidden;
}

#drop-area.highlight {
	border-color: #435567;
}


.my-form {
	margin-bottom: 10px;
}

#gallery {
	//margin-top: 10px;
}

#gallery img {
	position: relative;
	width: 100%;
}

.button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.button:hover {
	background: #ddd;
}

#fileElem {
	display: none;
}





.drop-area__desc{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	//margin: 0 auto;
	color: $second-font-color;
	text-align: center;
	transform: translateY(-50%);
}

.photo-controls{
	overflow: hidden;
}

.photo-controls__desc{
	margin-top: 15px;
	margin-bottom: 20px;
	color: $second-font-color;
	font-weight: 300;
	text-align: center;
}

.photo-controls .btn{
	float: right;
	width: auto;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #6ab2f2;
	font-weight: 300;
}

.btn--add-photo{
	background-color: #1d2a39;
	&:hover{
		background-color: #283e56;
	}
}

.btn--close-photo{
	margin-right: 15px;
	background: none;
	&:hover{
		background: none;
		color: #759abb;
	}
}